.content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  div {
    h1 {
      text-align: center;
      font-size: 3rem;

      @media (max-width: 52rem) {
        font-size: 2rem;
      }
    }
    div {
      margin-top: 2rem;
      width: 800px;
      height: 6px;
      background: lightgrey;
    }
  }
}

.modal_btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  .btn {
    padding: 1.5rem 4rem;
    color: white;
    background: rgba(255, 80, 47, 1);
    border: 2px solid;
    transition: 0.5s ease-in-out all;

    &:hover {
      color: rgba(255, 80, 47, 1);
      background: white;
      border: 2px solid rgba(255, 80, 47, 1);
    }
  }
}

.stadium_cell_wrapper {
  position: relative;
  height: 170vh;
  max-height: 1400px;
  width: 100%;
  max-width: 850px;
  margin: 3rem 0;
}

.place {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4em;
  padding: 1rem;

  background: rgba(183, 183, 183, 0.6);
  box-sizing: border-box;
  border-radius: 100%;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s ease-in-out all;

  &:hover {
    background: rgba(165, 165, 165, 0.8);
  }

  &:disabled {
    color: white;
    background: rgba(120, 120, 120, 1);
    cursor: default;
  }
}

.cell_prices {
  margin-top: 2rem;
}

@media (max-width: 48rem) {
  .place {
    min-width: 2em;
    padding: 0.5rem;
  }

  .modal_btns {
    flex-direction: column;

    .btn {
      width: 50%;
      margin: 1rem 0;
    }
  }
}

@media (max-width: 34rem) {
  .place {
    font-size: 0.8rem!important;
    padding: 0.25rem;
  }
}

@media (max-width: 25rem) {
  .place {
    font-size: 0.6rem!important;
    padding: 0.125rem;
  }
}
